body{

	background: #585858;
	font-family: Arial;
	color:#585858;
	padding: 10px;


}


.button {
  
 opacity: 0.7;
 width:90px;
 height:35px;
 border:none;
 color:white;
 margin: 10px 10px;
 font-size: 18px;
 background: #FF8000;
 border-radius: 5px;
 cursor:pointer;

 
   }
.button:hover {
  
   
   text-decoration: none;
   }

.button:active {

   text-decoration: none;

   }

#captura{

	margin-top: 30px;



}

#cerrar_sesion{


 width:50px;
 height:20px;
 border:none;
 color:white;
 font-size: 10px;
 background:#FF0040;
 border-radius: 5px;
 cursor:pointer;
 float: right;
 margin: 5px 0 0 0;
 letter-spacing: 1px;
 font-weight: bold;

}

#contenido{
	
	background: #F2F2F2;

    width: 1200px;
    border-style:outset;
	border-radius: 10px;
	border-width:3px;
	padding: 10px;
}

#encabezado_consulta{

	font-weight: bold;
}

h1{
	font-size: 18px;
	text-align: center;
}
header{

	margin-bottom: 20px;
	width:1200px;
}

figure{

	
	display: inline-block;
	height: 83px;
	margin:0;
	vertical-align: top; 
	width: 83px;

}

figure img{
   border-radius: 5px;
   width:83px;

}

form{


}

#informes{

	width: 100px;
}

#login{

	
	display: inline-block;
	float: right;
	margin: 0 40px 0 0;

}

#nombres{
	
	display: inline-block;
	height: 80px;
	margin: 0;
	vertical-align: top; 
	width:600px;

}

#reportes{

   
   
   margin: 0 auto;
   width: 900px;

}

section{
	
	
	margin: 0 auto;
	margin-top: 20px;
	width: 1200px;
}

span{
   font-weight: bold;
   display: block;
   margin: 20px 0 20px 0;
}

#ticket{

	width: 70px;
}

#tipo{

	width: 200px;
}

#t_consulta{

	border-collapse:collapse;
		background:#F2F2F2;
		border-left:1px solid #686868;
		border-right:1px solid #686868;
		font:0.8em/145% 'Trebuchet MS',helvetica,arial,verdana;
		color: #333;
		margin: 0 auto;


}

.t_datos{


   background: #D9D9D9;
   border-radius: 5px;
   padding: 10px;
   height: 80px;

}

.t_reportes{
   
   
   background: #D9D9D9;
   
   border-radius: 5px;
   margin: 0 auto;
   padding: 10px;
   width: 800px;

}


#encabezado_consulta{

	background-color:#BDBDBD;	
	color: white;
	font-weight:bold;
	text-align: center;
	
}