body{

	font-family: arial;
}


#contenido{
	border: solid red;
	display: inline-block;
	vertical-align: top;
	width: 400px;
	height: 150px;

	

}

.inputs{

	width: 150px;
	height: 20px;
	font-size: 18px;
}

figure{
	border: solid orange;
	display: inline-block;
	
	height: 150px;
	margin: 0;
	vertical-align: top;
	width: 150px;


}

h1{
	font-size: 30px;
	margin: 0;
}

h2{
	margin: 0 0 10px 0;
}