#all{


	background: white;
	border-radius: 10px;
	display: block;
	margin: 0 auto;
	padding: 10px;
	width: 420px;
}

body{

	background: #585858;
	color:#585858;
	font-family: arial;
	padding-top: 30px;


}

.button {
  
 opacity: 0.7;
 width:70px;
 height:30px;
 border:none;
 color:white;
 margin-left: 10px;
 font-size: 15px;
 background: #FF8000;
 border-radius: 5px;
 cursor:pointer;

 
   }
.button:hover {
  
   
   text-decoration: none;
   }

.button:active {

   text-decoration: none;

   }


#contenido{
	background: #F2F2F2;

	border-radius: 10px;
	border-width:1px;
	height: 90px;
	margin-top: 10px;
	padding: 3px;
	vertical-align: top;
	width: 413px;

	

	

}

.inputs{


	font-size: 15px;
	height: 20px;
	margin: 0 auto;
	width: 150px;
	
}



h1{
	
	
	color: ;
	font-size: 20px;
	height: 30px;
	margin: 10px auto;
	text-align: center;
	vertical-align: center;
	width: 413px;
	
	
}

h2{
	
	font-size: 15px;
	margin: 10px 0 10px 0;
	text-align: center;

}

#liston {
position: fixed;
top: 0;
right: 0;
z-index: 10000;

}

#login_formulario{

	
	margin: 0 auto;
	width: 400px;
}


#logo_tiba,#logo_issste{

	
	border-radius: 10px;
	display: inline-block;
	height: 150px;
	margin: 0;
	width: 200px;

}
#logo_tiba{

	margin-right: 3px;
}


#logo_tiba img{

	border: solid black;
	border-radius: 10px;
	margin-right: 2px;
	width: 195px;
	height: 150px;
	display: inline-block;


}

#logo_issste img{

	border: solid gray;
	border-radius: 10px;
	height: 150px;
	width: 210px;
	

}

footer{

	color: white;
	display: block;
	margin: 0 auto;
	text-align: center;
	
}